/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
.content-two-column {
    width: 70%;
    margin: auto;
    padding: 40px;
    display: flex;
}

.content-box {
    width: 70%;
    margin: auto;
    padding: 40px;
}

.lightgray {
    background-color: lightgray;
}

/* HEADER */
/* Header Top */
.header-top {
    background-color: lightblue;
    padding: 20px 0;
}
.header-menu {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: goldenrod;
}
.logo, nav, .login {
    padding: 5px;

    /* TEST */
    border: 1px dotted black;
}
/* Logo */
.logo {
    width: 20%;
}
/* Nav */
nav {
    width: 60%;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;

}
.menu li {
    padding: 0 10px;
}
.menu li a, a {
    text-decoration: none;
    color: inherit;
}
/* Login */
.login {
    width: 20%;
    text-align: right;
}
/* END Header Top*/

/* Header Bottom*/
.header-bottom {
    background-color: blue;
    padding: 40px 0;
}
.jumbotron-text {
    background-color: palevioletred;
    width: 55%;
    margin: auto;
    
    /*TEST*/
    height: 400px;
}
/* END Header Bottom*/

/*MAIN*/
.col-img {
    background-color: dodgerblue ;
    width: 60%;
    
    /*TEST*/
    height: 500px;
}
.col-text {
    background-color: pink ;
    width: 40%;
    
    /*TEST*/
    height: 500px;
}
.col-box {
    background-color: green;

    /*TEST*/
    height: 700px;
}
/* END MAIN*/